<ion-view view-title="Login">
    <ion-content>

        <form ng-submit="">
            <div class="list">

                <label class="item item-input">
                    <input type="text" placeholder="username or email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="password">
                </label>
                <button class="button button-full button-balanced">Login</button>


            </div>
        </form>


        <div align="center">
            or <a href="#" ui-sref="signup">signup</a> if this is your first time
        </div>


    </ion-content>
</ion-view>