<ion-view  view-title="Admin Dashboard" hide-back-button="true">


    <ion-nav-buttons side="primary">
        <button class="button" ng-click="logout()" >
            logout
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-balanced" ui-sref="salesmanSignup" >
            Add Salesman
        </button>
    </ion-nav-buttons>

    <ion-content>


        <div class="list card">

            <div class="item item-avatar" >
                <img ng-src={{photoUrl}} href="https://secure.gravatar.com" target="_blank" >



                <h2 ng-bind="profileObject.companyName"></h2>
                <p ng-bind="profileObject.email"></p>
                <p ng-show="profileObject.createdOn">Joined: {{profileObject.createdOn | date}}</p>
            </div>

            <!--<div class="item item-body">-->
                <!--<img class="full-image" src="./img/delorean.jpg">-->
                <!--<p>-->
                    <!--This is a "Facebook" styled Card. The header is created from a Thumbnail List item,-->
                    <!--the content is from a card-body consisting of an image and paragraph text. The footer-->
                    <!--consists of tabs, icons aligned left, within the card-footer.-->
                <!--</p>-->
                <!--<p>-->
                    <!--<a href="#" class="subdued">1 Like</a>-->
                    <!--<a href="#" class="subdued">5 Comments</a>-->
                <!--</p>-->
            <!--</div>-->

        </div>
        <ion-list class="list">
            <div class="item item-divider">Salesmans List</div>
            <div class="item " ng-repeat="saleman in salesmansList">
                <h2>{{saleman.firstName + " " + saleman.lastName}}</h2>

                <p class="ionic-body" ng-show="saleman.email">{{saleman.email}}</p>
                <p class="ionic-body" ng-show="saleman.createdOn">since: {{saleman.createdOn | date}}</p>
            </div>


        </ion-list>



<button ng-click="getSalesmanList()">refresh</button>

    </ion-content>
</ion-view>