<ion-view view-title="signup">
    <ion-content>

        <form ng-submit="">
            <div class="list">

                <label class="item item-input">
                    <input type="text" placeholder="first name">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="last name">
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="username">
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="password">
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="re-type password">
                </label>


                <button class="button button-full button-balanced">signup</button>


            </div>
        </form>


        <div align="center">
            or  <a href="#" ui-sref="login">login</a> if you already have an account
        </div>







    </ion-content>
</ion-view>