<ion-view view-title="Salesman's Positions" hide-back-button="false">


    <ion-content scroll="false">


        <!--<ng-map id="map"  zoom="18" center="[{{24.815276599999997}}, {{67.05424339999999}}]" >-->
        <!--<marker position="{{24.815276599999997}},{{67.05424339999999}}"  ></marker>-->

        <!--<marker position="{{24}},{{67}}"  ></marker>-->
        <!--</ng-map>-->


        <ng-map zoom="13" center="{{24.815276599999997}},{{67.05424339999999}}" style="height:100% ; width:100%"
                on-center-changed="centerCustomMarker()">
            <marker position="{{24.815276599999997}},{{67.05424339999999}}" on-click="vm.showCustomMarker()"></marker>
            <marker position="{{24.815276599999997}},{{67}}" on-click="vm.showCustomMarker()"></marker>

        </ng-map>


    </ion-content>
</ion-view>