<ion-view  view-title="salesman control">

    <ion-content>


        <img src="./img/angular.jpg" width="100%" alt="">
        <!--//this link is relative from index.html-->
        <!--//plz ignore error "path not resolved"-->
        
        
        
        <button class="button button-full button-balanced" ui-sref="login">
            LOGIN
        </button>


        <span class="col" align="center">OR</span>



        <button class="button button-full" ui-sref="signup">
            Signup
        </button>
    </ion-content>



</ion-view>