<ion-view  view-title="home page">

    <ion-content align="center">


        <img src="./img/angular.jpg" width="100%" alt="">
        <!--//this link is relative from index.html-->
        <!--//plz ignore error "path not resolved"-->
        
        
        
        <button class="button button-full button-balanced" ui-sref="login">
            LOGIN
        </button>
                                or
        <button class="button button-full" ui-sref="signup">
            Signup
        </button>
    </ion-content>



</ion-view>